@font-face {
    font-family: 'Gorgonzola';
    src: url(../fonts/Gorgonzola.otf) format("opentype");
}

.hidden {
    display: none;
}

body {
    text-align: center;
    background-color: rgb(8, 3, 93);
    color: floralwhite;
}

h1 {
    font-family: Gorgonzola;
    font-size: 80px;
    color: floralwhite;
}

.intro {
    text-align: center;
    padding-right: 200px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    padding-top: 50px;
}

.formDemo {
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* .magic8Gif {

} */