@font-face {
    font-family: 'Gorgonzola';
    src: url(../fonts/Gorgonzola.otf) format("opentype");
}

.hidden {
    display: none;
}

body {
    text-align: center;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: floralwhite;
}

h1 {
    font-family: Gorgonzola;
    font-size: 80px;
    color: floralwhite;
    padding-top: 40px;
}

.intro {
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    padding-top: 50px;
    padding-bottom: 50px;
}

.formDemo {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-right: 200px;
    padding-top: 40px;

}

.magic8Gif {
    float: left;
    padding-left: 200px;
    padding-top: 40px;
}